html {
    background-color: purple;
}

#layout {
    max-width: 1440px;
    margin: 0 auto;
}

#header-wrapper {
    padding: 10px 20px;
    overflow: hidden;
    background-color: red;
}

#content-wrapper {
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
    background-color: blue;
}